* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sec1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    margin: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    align-items: flex-start;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 36px;

}

.header-links {
    color:#e5e7eb;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 12px;
}

.sec1-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.largetxt{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.smalltxt {
    color: #e5e7eb;
    font-size: 18px;
}

.right-img {
    align-self: stretch;
    background-size: cover;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
}